{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("workingconcept\\saaslink\\assetbundles\\saaslink\\SaasLinkCpSettingsAsset") %}

{# @formatter:off #}
{% set extraJs %}
    window.__SAASLINK_PLUGIN = {
        actions: {
            fetchOrganizationOptions: "{{ settings.fetchTrelloOrganizationOptionsUri }}",
        }
    };
{% endset %}
{# @formatter:on #}

{% js extraJs %}

<h2>{{ "Harvest"|t }}</h2>

{{ forms.textField({
    label:        'Harvest Account ID' | translate('saas-link'),
    id:           'harvestAccountId',
    required:     false,
    name:         'harvestAccountId',
    value:        settings.harvestAccountId,
    placeholder:  '••••••',
    errors:       settings.getErrors('harvestAccountId'),
    instructions: 'Add the relevant account ID.' | translate('saas-link')
}) }}

{{ forms.passwordField({
    first: true,
    label:        'Harvest Token' | translate('saas-link'),
    id:           'harvestToken',
    required:     false,
    name:         'harvestToken',
    value:        settings.harvestToken,
    placeholder:  '••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••',
    autofocus:    true,
    errors:       settings.getErrors('harvestToken'),
    instructions: 'Create a [personal access token](https://id.getharvest.com/developers) and plop it right here.' | translate('saas-link')
}) }}

<br>

<h2>{{ "Trello"|t }}</h2>

{{ forms.passwordField({
    label:        'Trello API Key' | translate('saas-link'),
    id:           'trelloApiKey',
    required:     false,
    name:         'trelloApiKey',
    value:        settings.trelloApiKey,
    placeholder:  '••••••••••••••••••••••••••••••••',
    errors:       settings.getErrors('trelloApiKey'),
    instructions: 'Get your key from the [Developer API Keys](https://trello.com/app-key) page.' | translate('saas-link')
}) }}

{{ forms.passwordField({
    first: true,
    label:        'Trello API Token' | translate('saas-link'),
    id:           'trelloApiToken',
    required:     false,
    name:         'trelloApiToken',
    value:        settings.trelloApiToken,
    placeholder:  '••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••',
    errors:       settings.getErrors('trelloApiToken'),
    instructions: 'Generate a token on the [Developer API Keys](https://trello.com/app-key) page.' | translate('saas-link')
}) }}

{{ forms.selectField({
    label:        'Trello Organization' | translate('saas-link'),
    id:           'trelloOrganizationId',
    required:     false,
    name:         'trelloOrganizationId',
    value:        settings.trelloOrganizationId,
    options:      organizationOptions,
    disabled:     organizationOptions | length == 0,
    errors:       settings.getErrors('trelloOrganizationId'),
    instructions: "Choose an organization. (You only get one.)" | translate('saas-link')
}) }}

<br>

<h2>{{ "Capsule"|t }}</h2>

{{ forms.passwordField({
    first: true,
    label:        'Capsule Personal Access Token' | translate('capsule'),
    id:           'capsuleToken',
    required:     false,
    name:         'capsuleToken',
    value:        settings.capsuleToken,
    placeholder:  '••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••',
    errors:       settings.getErrors('capsuleToken'),
    instructions: 'You can create these from the _Personal Access Tokens_ tab of the _My Preferences_ → _API Authentication Tokens_ page in your Capsule account.' | translate('saas-link')
}) }}
